
.navbar-links {
    font-weight: bold;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
  }

.right-icon {
  position: fixed;
    left: 47%;
    bottom: 54%;
    right: 73%;
    top: -13%;
    /* max-height: 100%; */
    /* height: 750px; */
    /* width: auto; */
    width: 100%;
    height: 600px;
    /* object-fit: cover; */
    /* object-position: bottom; */
    /* clip: rect(10px, 0px, 0px, 0px); */
    clip-path: inset(43px 44% 13px 40px);
}

.bg-image {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.bg-image img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

section {
  position: relative;
}
.banner-wrap {
  margin: 4.5em auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Automated {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  font-size: 31pt;
  margin-top: -0.5em;
  opacity: 60%;
}
.circle-img {
  max-width: 100%;
  width: 500px;  
    
  }
.read-more {
  margin: auto 0.5em;
}
.lower-bottons {
  
  display: flex;
  justify-content: center;
  margin-top: 1.8em;

}
.show {
    background-color: #74bf77;
    border: 2px solid black;
    border-radius: 0.8em;
    padding: 0.4em;
}
.under-text {
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: black;
}